* {
  --primary-color: #2c3e50;
  --accent-color: #e67e22;
  --text-color: #34495e;
  --background-color: #f9fafb;
}

header h1 span {
  color: var(--accent-color);
}

body {
  color: var(--text-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
  color: black;
}

header h1 span {
  color: var(--accent-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  padding: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
}

.navbar ul li a:hover {
  color: var(--accent-color);
}

.contact-btn {
  list-style: none;
}

.contact-btn a {
  color: white;
  text-decoration: none;
  background-color: var(--accent-color);
  padding: 5px;
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  transition: 0.3s;
}

.contact-btn a:hover {
  background: transparent;
  color: var(--accent-color);
}

.sidebar {
  position: fixed;
  top: 70px;
  right: calc(-50vw);
  width: 50vw;
  background: var(--primary-color);
  color: white;
  transition: right 0.3s ease;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
}

.sidebar.active {
  right: 0;
}

.menu-btn {
  position: absolute;
  z-index: 999;
  right: 15px;
  top: 40px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}

.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 10px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

.blog-section h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}

.blog-roll {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 450px));
  gap: 20px;
  justify-content: center;
}

.blog-roll img {
  width: 100%;
}

.blog-roll h2 {
  color: var(--primary-color);
}

.blog-post {
  box-shadow: 2px 2px 5px var(--primary-color);
  transition: 0.3s;
}

.blog-post:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 7px var(--primary-color);
}

.blog-post span {
  line-height: 10%;
  color: #343b4282;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-post h2 {
  margin-bottom: -10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
}

.blog-post p {
  padding-left: 10px;
  padding-right: 10px;
}

.blog-post a {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.3s;
  padding: 10px;
}

.blog-post a:hover {
  color: var(--primary-color);
}

@media (max-width:800px) {
  .hide-on-mobile {
    display: none;
  }
  
  .menu-btn {
    display: flex;
  }
  
  .hero img {
    width: 40vw;
    margin-top: calc(100vh/8);
  }
}